In [6]:
import pandas as pd
df=pd.DataFrame({"A":[12,4,5,None,1],"B":[7,3 ,5,4,None],
                 "C":[28,23,21,1,3],"D":[12,3,None,2,5]})
df

      A    B   C     D
0  12.0  7.0  28  12.0
1   4.0  3.0  23   3.0
2   5.0  5.0  21   NaN
3   NaN  4.0   1   2.0
4   1.0  NaN   3   5.0

In [7]:
index_=['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
df.index=index_
df

          A    B   C     D
Row_1  12.0  7.0  28  12.0
Row_2   4.0  3.0  23   3.0
Row_3   5.0  5.0  21   NaN
Row_4   NaN  4.0   1   2.0
Row_5   1.0  NaN   3   5.0

In [8]:
result= df.transform(func= lambda x : x + 10)
result

          A     B   C     D
Row_1  22.0  17.0  38  22.0
Row_2  14.0  13.0  33  13.0
Row_3  15.0  15.0  31   NaN
Row_4   NaN  14.0  11  12.0
Row_5  11.0   NaN  13  15.0

In [15]:
import pandas as pd
df=pd.DataFrame({"A":[2,3,23,None,1],
                 "B":[7, 2, 54, 3, None],
                 "C":[20, 16, 11, 3, 8],
                 "D":[14, 3, None, 2, 6]})   
df

      A     B   C     D
0   2.0   7.0  20  14.0
1   3.0   2.0  16   3.0
2  23.0  54.0  11   NaN
3   NaN   3.0   3   2.0
4   1.0   NaN   8   6.0

In [16]:
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
# Set the index
df.index = index_
print(df)

          A     B   C     D
Row_1   2.0   7.0  20  14.0
Row_2   3.0   2.0  16   3.0
Row_3  23.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0

In [17]:
result=df.transform(func=['sqrt','exp'])
result

              A                       B                       C                \
           sqrt           exp      sqrt           exp      sqrt           exp
Row_1  1.414214  7.389056e+00  2.645751  1.096633e+03  4.472136  4.851652e+08
Row_2  1.732051  2.008554e+01  1.414214  7.389056e+00  4.000000  8.886111e+06
Row_3  4.795832  9.744803e+09  7.348469  2.830753e+23  3.316625  5.987414e+04
Row_4       NaN           NaN  1.732051  2.008554e+01  1.732051  2.008554e+01
Row_5  1.000000  2.718282e+00       NaN           NaN  2.828427  2.980958e+03

              D
           sqrt           exp
Row_1  3.741657  1.202604e+06
Row_2  1.732051  2.008554e+01
Row_3       NaN           NaN
Row_4  1.414214  7.389056e+00
Row_5  2.449490  4.034288e+02

In [20]:
text='This Is An Python Class'
print("\nconverted sting to uppercase:")
print(text.upper())

converted sting to uppercase:
THIS IS AN PYTHON CLASS

In [22]:
print("converting to lower case:")
print(text.lower())

converting to lower case:
this is an python class

In [23]:
print("\nConverted first letter to upper in every word:")
print(text.title())

Converted first letter to upper in every word:
This Is An Python Class

In [24]:
print("\nstring case swapping:")
print(text.swapcase())

string case swapping:
tHIS iS aN pYTHON cLASS

In [25]:
print("\nConverted String first leeer to upper:")
print(text.capitalize())

Converted String first leeer to upper:
This is an python class

In [26]:
print("\n original string")
print(text)

 original string
This Is An Python Class